<body>

    <div class=card>

        <div class="card-body">

            <div class="text">

                <h1>
                    Cadastro de Cliente
                </h1>

                <p>
                    Preencha seus dados para fazer parte da Lumar Corretora.
                </p>

            </div>

            <form onsubmit="registrar(); return false;" class="space-y-4">

                <label class="form-control">

                    <span class="label-text mb-2">Nome</span>

                    <input id="nome" type="text" class="input input-bordered w-full" placeholder="Digite o seu nome "
                        required>

                </label>

                <label class="form-control">

                    <span class="label-text ">Telefone</span>

                    <input id="telefone" type="tel" class="input" placeholder="(11) 99999-9999" required>

                </label>

                <label class="form-control">

                    <span class="label-text">Endereço</span>

                    <input id="endereco" type="text" class="input " placeholder="Rua, número e bairro" required>

                </label>

                <label class="form-control">

                    <span class="label-text">E-mail</span>

                    <input id="email" type="email" class="input " placeholder="exemplo@email.com" required>

                </label>

                <label class="form-control">

                    <span class="label-text ">Senha</span>

                    <input id="senha" type="password" class="input " placeholder="••••••••" required>

                </label>

                <label class="form-control">

                    <span class="label-text ">CPF ou CNPJ</span>

                    <input id="cpfCnpj" type="text" class="input " placeholder="Digite seu CPF ou CNPJ" required>

                </label>

                <label class="form-control">

                    <span class="label-text ">Descrição</span>

                    <textarea id="descricao" class="textarea " placeholder="Descreva sua empresa"></textarea>

                </label>

                <div class="flex ">

                    <a routerLink="/login" class="btn"> Tenho Cadastro </a>

                    <a routerLink="/home" class="btn ">
                        Cancelar
                    </a>

                    

                </div>

                <p id="mensagem"></p>

            </form>

        </div>

    </div>


</body>