body{
    min-height: auto;
    background-color: rgb(58, 58, 58);
    justify-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.card{
   width: 100%;
    max-width: 500px;
    background-color: #2b2b2b;
    border-radius: 12px;
    padding: 24px;
    box-sizing: border-box;
}

.text {
    text-align: center;
    margin-bottom: 6px;
}

.text h1{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.text p {
    color: gray;
    margin-top: 2px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.form-control {
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 45, 45) ;
    border-radius: 10px;
    border-color: #000;
}


.label-text {
    margin-bottom: 8px;
    font-size: 18px;
    color: #B5832C;
}


.input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid #0c0c0c;
    border-radius: 8px;
    background-color: #1f1f1f;
    color: rgb(231, 230, 226);
    outline: none;
}


.input:focus {
    border-color: #B5832C;
}


.input::placeholder {
    color: #888;
}


.textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #1f1f1f;
    color: rgba(126, 128, 22, 0.774);
    outline: none;
    resize: vertical;
}


.textarea:focus {
    border-color: #5700ff;
}


.textarea::placeholder {
    color: #888;
}


.flex {
    display: flex;
}

.gap-3 {
    gap: 12px;
}

.pt-4 {
    padding-top: 16px;
}


.btn {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    background-color: #695c0e;
    color: white;
    margin-right: 5px;
}

.btn:hover {
    background-color: #c7b447;
}


.flex-1 {
    flex: 1;
}


#mensagem {
    text-align: center;
    margin-top: 16px;
}