<section class="contato">

    <div class="contato-conteudo">

        <h1>Fale com a Brava</h1>

        <p>
            Tem alguma dúvida sobre nossos perfumes?
            Entre em contato conosco.
        </p>
        
        <form>

            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome">

            <label for="email">E-mail</label>
            <input type="email" id="email" name="email">

            <label for="assunto">Assunto</label>
            <input type="text" id="assunto" name="assunto">

            <label for="mensagem">Mensagem</label>
            <textarea id="mensagem" name="mensagem"></textarea>

            <button type="submit">Enviar mensagem</button>

        </form>

    </div>

</section>