<app-headerdashboard>
  <app-navdasboard></app-navdasboard>
</app-headerdashboard>
  


<section class="produtos">
  <div class="produto">
    <div class="img">
      <img src="perfume1.webp" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 150,00</p>
    <button routerLink="/compra" class="btn">Comprar</button>
    <button class="btn" (click)="adicionarAoCarrinho()" >carrinho</button>
    

  </div>

  <div class="produto">
    <div class="img">
      <img src="perfume1.webp" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 120,00</p>
    <button class="btn">Comprar</button>
    <button class="btn">carrinho</button>

  </div>

  <div class="produto">
    <div class="img">
      <img src="perfume2.webp" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 300.00</p>
    <button class="btn">Comprar</button>
    <button class="btn">carrinho</button>


  </div>

  <div class="produto">
    <div class="img">
      <img src="perfume3.jpg" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 529,99</p>

    <button class="btn">Comprar</button>
    <button class="btn">carrinho</button>

  </div>




</section>


<section class="produtos">
  <div class="produto">
    <div class="img">
      <img src="perfume4.webp" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 25,00</p>

    <button class="btn">Comprar</button>
    <button class="btn">carrinho</button>

  </div>

  <div class="produto">
    <div class="img">
      <img src="#" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>

    <button class="btn">Comprar</button>
    <button class="btn">carrinho</button>

  </div>

  <div class="produto">
    <div class="img">
      <img src="#" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>

    <button class="btn">Comprar</button>
    <button class="btn">carrinho</button>

  </div>

  <div class="produto">
    <div class="img">
      <img src="#" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>

    <button class="btn">Comprar</button>
    <button class="btn">carrinho</button>

  </div>

</section>

<app-footer></app-footer>
